<div class="container pt-5 mb-10">
    <h1 class="text-center pt-4 text-light fadeIn second"><i class="fa-solid fa-bullhorn"></i> Mis Anuncios</h1>
    <table class="table table-striped table-hover table-light fadeInDown">
        <thead  class="align-middle text-center">
            <tr>
                <th scope="col">Anuncio</th>
                <th scope="col">Descripción</th>
            </tr>
        </thead>
        <tbody  class="align-middle text-center">
            <tr>
                <td>Nombre Anuncio XX</td>
                <td>Nombre Anuncio XX</td>
            </tr>
            <tr>
                <td>Descripción Anuncio XX</td>
                <td>Descripción Anuncio XX</td>
            </tr>
        </tbody>
    </table>
    
</div>


<!-- <div class="d-grid gap-2 mt-4">
    <button class="btn btn-primary fadeIn" type="button" (click)="PublicarTarea()">Publicar Tarea</button>
    <button class="btn btn-primary fadeIn" type="button" (click)="PublicarAnuncio()">Publicar Anuncio</button>
</div> -->