<div class="container pt-5 mb-10">
    <h1 class="text-center pt-4 text-light fadeIn second"><i class="fa-solid fa-bullhorn"></i> Mis Anuncios</h1>
    <table class="table table-hover table-light fadeInDown">
        <thead  class="align-middle text-center">
            <tr>
                <th scope="col">TITULO</th>
                <th scope="col">DESCRIPCIÓN</th>
            </tr>
        </thead>
        <tbody  class="align-middle text-center" *ngFor = 'let publicacion of anuncio.data'>
            <tr>
                <th scope="row">{{publicacion.titulo}}</th>
                <td>{{publicacion.descripcion}}</td>
            </tr>
        </tbody>
    </table>
    
</div>


<!-- <div class="d-grid gap-2 mt-4">
    <button class="btn btn-primary fadeIn" type="button" (click)="PublicarTarea()">Publicar Tarea</button>
    <button class="btn btn-primary fadeIn" type="button" (click)="PublicarAnuncio()">Publicar Anuncio</button>
</div> -->