<div class="container pt-5 mb-10">
    <h1 class="text-center pt-4 text-light fadeIn"><i class="fas fa-bell"></i> Mis Anuncios / Tareas</h1>
    <table class="table table-hover table-light fadeInDown">
        <!-- <table class="table table-hover table-light fadeInDown"> -->
        <thead  class="align-middle text-center">
            <tr>
                <th scope="col">TIPO</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">DESCRIPCIÓN</th>
                <th scope="col">GRADO</th>
                <th scope="col">CURSO</th>
                <th scope="col">PUNTEO</th>
                <th scope="col">FECHA ENTREGA / VENCIMIENTO</th>
            </tr>
        </thead>
        <tbody  class="align-middle text-center" *ngFor = 'let publicacion of anuncioTarea.data'>
            <tr>
                <th scope="row">{{publicacion.tipo}}</th>
                <td>{{publicacion.titulo}}</td>
                <td>{{publicacion.descripcion}}</td>
                <td>{{publicacion.grado}}</td>
                <td>{{publicacion.nombre_Curso}}</td>
                <td>{{publicacion.punteo}} pts.</td>
                <td>
                    {{publicacion.fechaVen}}
                    {{publicacion.fechaEnt}}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-xl-6">
            <div class="d-grid gap-2 my-1">
                <button class="btn btn-primary fadeIn second" type="button" (click)="PublicarTarea()">Publicar Tarea</button>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="d-grid gap-2 my-1">
                <button class="btn btn-primary fadeIn second" type="button" (click)="PublicarAnuncio()">Publicar Anuncio</button>
            </div>
        </div>
    </div>


    <!-- Anuncios -->
    <form method="post" *ngIf="publicarAnuncio">
        <div class="card mt-4 fadeInDown">
            <div class="card-body">
                <h3 class="card-header text-center fadeIn">
                    <i class="fa-solid fa-bullhorn"></i> Publicar Anuncio
                    <label class="obligatorio">
                        * Obligatorio
                    </label>
                </h3>
                <div class="row justify-content-md-center">
                    <div class="col-xl-4 mt-3 form-outline">
                        <mdb-form-control>
                            <input mdbInput type="text" id="nameAnuncio" [(ngModel)]="publicacion.titulo" name="nameAnuncio" class="form-control" autocomplete="off" required/>
                            <label mdbLabel class="form-label" for="nameAnuncio"><b class="obligatorio">*</b> Titulo Anuncio</label>
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-4 mt-3 form-outline">
                        <mdb-form-control>
                            <input mdbInput type="date" id="fecVen" [(ngModel)]="publicacion.fecha_Vencimiento" name="fecVen" class="form-control" required />
                            <label mdbLabel class="form-label" for="fecVen"><b class="obligatorio">*</b> Fecha Vencimiento</label>
                        </mdb-form-control>
                    </div>

                    <div class="col-xl-4 mt-3 form-outline">
                        <select class="form-control bonus-design" (change)="gradoSelect($event)">
                            <option selected><b class="obligatorio">*</b> Grado A Anunciar</option>
                            <option *ngFor = 'let grado of grados.data' value="{{grado.grado_Id}}">{{grado.grado}}</option>
                        </select>
                    </div>
                    <div class="col-xl-10 mt-3 form-outline">
                        <mdb-form-control>
                            <textarea mdbInput class="form-control" id="descripcion" rows="3" [(ngModel)]="publicacion.descripcion" name="descripcion" required></textarea>
                            <label mdbLabel class="form-label" for="descripcion"><b class="obligatorio">*</b> Descripción Anuncio</label>
                        </mdb-form-control>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-block text-center py-4">
                    <button class="btn btn-success mx-1 fadeIn second" type="button" (click)="Anuncio()"><i class="fa-solid fa-upload"></i> Publicar Anuncio</button>
                    <button class="btn btn-danger mx-1 fadeIn second" type="button" routerLink="/home"><i
                            class="fas fa-times"></i> Cancelar</button>
                </div>
            </div>
        </div>
    </form>

    <!-- Tareas -->
    <form method="post" *ngIf="publicarTarea">
        <div class="card mt-4 fadeInDown">
            <div class="card-body">
                <h3 class="card-header text-center fadeIn">
                    <i class="fa-solid fa-book"></i> Publicar Tarea
                    <label class="obligatorio">
                        * Obligatorio
                    </label>
                </h3>
                <div class="row justify-content-md-center">
                    <div class="col-xl-4 mt-3 form-outline">
                        <mdb-form-control>
                            <input mdbInput type="text" id="nameTarea" [(ngModel)]="publicacion.titulo" name="nameTarea" class="form-control" autocomplete="off" required/>
                            <label mdbLabel class="form-label" for="nameTarea"><b class="obligatorio">*</b> Titulo Tarea</label>
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-4 mt-3 form-outline">
                        <mdb-form-control>
                            <input mdbInput type="number" id="punteo" [(ngModel)]="publicacion.punteo" name="punteo" class="form-control" autocomplete="off" required/>
                            <label mdbLabel class="form-label" for="punteo"><b class="obligatorio">*</b> Punteo Tarea</label>
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-4 mt-3 form-outline">
                        <mdb-form-control>
                            <input mdbInput type="date" id="fecEnt" [(ngModel)]="publicacion.fecha_Entrega" name="fecEnt" class="form-control" required />
                            <label mdbLabel class="form-label" for="fecEnt"><b class="obligatorio">*</b> Fecha Entrega</label>
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-6 mt-3 form-outline">
                        <select class="form-control bonus-design" (change)="gradoSelect($event)">
                            <option selected><b class="obligatorio">*</b> Grado A Asignar</option>
                            <option *ngFor = 'let grado of grados.data' value="{{grado.grado_Id}}">{{grado.grado}}</option>
                        </select>
                    </div>
                    <div class="col-xl-6 mt-3 form-outline">
                        <select class="form-control bonus-design" (change)="cursoSelect($event)">
                            <option selected><b class="obligatorio">*</b> Curso</option>
                            <option *ngFor = 'let curso of cursos.data' value="{{curso.curso_Id}}">{{curso.nombre_Curso}}</option>
                        </select>
                    </div>
                    <div class="col-xl-10 mt-3 form-outline">
                        <mdb-form-control>
                            <textarea mdbInput class="form-control" id="descripcion" rows="3" [(ngModel)]="publicacion.descripcion" name="descripcion" required></textarea>
                            <label mdbLabel class="form-label" for="descripcion"><b class="obligatorio">*</b> Descripción Tarea</label>
                        </mdb-form-control>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-block text-center py-4">
                    <button class="btn btn-success mx-1 fadeIn second" type="button" (click)="Tarea()"><i class="fa-solid fa-upload"></i> Publicar Tarea</button>
                    <button class="btn btn-danger mx-1 fadeIn second" type="button" routerLink="/home"><i
                            class="fas fa-times"></i> Cancelar</button>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- <div class="d-grid gap-2 mt-4">
    <button class="btn btn-primary fadeIn" type="button" (click)="PublicarTarea()">Publicar Tarea</button>
    <button class="btn btn-primary fadeIn" type="button" (click)="PublicarAnuncio()">Publicar Anuncio</button>
</div> -->