<div class="container pt-5 mb-10">
    <!-- <form [formGroup]="validationForm" (ngSubmit)="onSubmit()">BOTON DE TIPO SUBMIT -->
        <form method="post">
        <div class="card mt-4 fadeInDown">
            <div class="card-body">
                <h3 class="card-header text-center fadeIn">
                    <i class="fas fa-user-shield"></i> Datos del Encargado
                    <label class="obligatorio">
                        * Obligatorio
                    </label>
                </h3>
                <div class="row justify-content-md-center">
                    <div class="col-xl-4 my-3 form-outline">
                        <mdb-form-control>
                            <!-- <input mdbValidate mdbInput type="text" id="nameEncargado" [(ngModel)]="encargado.nombre" name="nameEncargado" class="form-control" formControlName="nameEncargado" autocomplete="off" required /> -->
                            <input mdbInput type="text" id="nameEncargado" [(ngModel)]="encargado.nombre" name="nameEncargado" class="form-control" autocomplete="off" required />
                            <label mdbLabel class="form-label" for="nameEncargado"><b class="obligatorio">*</b> Nombre Completo</label>
                            <!-- <mdb-error *ngIf="nameEncargado?.invalid && (nameEncargado?.dirty || nameEncargado?.touched)">Campo Requerido</mdb-error> -->
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-4 my-3">
                        <div class="row">
                            <div class="col-sm-9 form-outline">
                                <mdb-form-control>
                                    <!-- <input mdbValidate mdbInput type="text" id="dpi" [(ngModel)]="encargado.dpi_Encargado" name="dpi" class="form-control" formControlName="dpi" autocomplete="off" required /> -->
                                    <input mdbInput type="text" id="dpi" [(ngModel)]="encargado.dpi_Encargado" name="dpi" class="form-control" autocomplete="off" required />
                                    <label mdbLabel class="form-label" for="dpi"><b class="obligatorio">*</b> DPI</label>
                                    <!-- <mdb-error *ngIf="dpi?.invalid && (dpi?.dirty || dpi?.touched)">Campo Requerido</mdb-error> -->
                                </mdb-form-control>
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-primary fadeIn fourth" type="button" (click)="buscarEncargado()"><i
                                        class="fa-solid fa-magnifying-glass"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 my-3 form-outline">
                        <mdb-form-control>
                            <input mdbInput type="email" id="mail" [(ngModel)]="encargado.correo" name="mail" class="form-control" autocomplete="off" />
                            <label mdbLabel class="form-label" for="mail">Correo Electrónico</label>
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-4 my-3 form-outline">
                        <mdb-form-control>
                            <!-- <input mdbValidate mdbInput type="text" id="relacion" class="form-control" formControlName="relacion" autocomplete="off" required /> -->
                            <input mdbInput type="text" id="relacion" [(ngModel)]="alumno.relacion_Encargado" name="relacion" class="form-control" autocomplete="off" required />
                            <label mdbLabel class="form-label" for="relacion"><b class="obligatorio">*</b> Relación con Alumno</label>
                            <!-- <mdb-error *ngIf="relacion?.invalid && (relacion?.dirty || relacion?.touched)">Campo Requerido</mdb-error> -->
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-4 my-3 form-outline">
                        <mdb-form-control>
                            <!-- <input mdbValidate mdbInput type="text" id="cel" [(ngModel)]="encargado.no_Cel" name="cel" class="form-control" formControlName="cel" autocomplete="off" required /> -->
                            <input mdbInput type="text" id="cel" [(ngModel)]="encargado.no_Cel" name="cel" class="form-control" autocomplete="off" required />
                            <label mdbLabel class="form-label" for="cel"><b class="obligatorio">*</b> Número Celular</label>
                            <!-- <mdb-error *ngIf="cel?.invalid && (cel?.dirty || cel?.touched)">Campo Requerido</mdb-error> -->
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-4 my-3 form-outline">
                        <mdb-form-control>
                            <input mdbInput type="text" id="tel" [(ngModel)]="encargado.no_Tel_Casa" name="tel" class="form-control" autocomplete="off" />
                            <label mdbLabel class="form-label" for="tel">Teléfono Casa</label>
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-8 my-3 form-outline">
                        <mdb-form-control>
                            <!-- <input mdbValidate mdbInput type="text" id="direccion" [(ngModel)]="encargado.direccion" name="direccion" class="form-control" formControlName="direccion" autocomplete="off" required /> -->
                            <input mdbInput type="text" id="direccion" [(ngModel)]="encargado.direccion" name="direccion" class="form-control" autocomplete="off" required />
                            <label mdbLabel class="form-label" for="direccion"><b class="obligatorio">*</b> Dirección</label>
                            <!-- <mdb-error *ngIf="direccion?.invalid && (direccion?.dirty || direccion?.touched)">Campo Requerido</mdb-error> -->
                        </mdb-form-control>
                    </div>
                    <!-- NEXT col-xl-4 -->
                </div>
            </div>
        </div>
        <div class="card mt-4 fadeInDown">
            <div class="card-body">
                <h3 class="card-header text-center fadeIn">
                    <i class="fas fa-user-graduate"></i> Datos del Alumno
                    <label class="obligatorio">
                        * Obligatorio
                    </label>
                </h3>
                <div class="row">
                    <div class="col-xl-4 my-3 form-outline">
                        <mdb-form-control>
                            <!-- <input mdbValidate mdbInput type="text" id="nameAlumno" class="form-control" formControlName="nameAlumno" autocomplete="off" required /> -->
                            <input mdbInput type="text" id="nameAlumno" [(ngModel)]="alumno.nombre" name="nameAlumno" class="form-control" autocomplete="off" required />
                            <label mdbLabel class="form-label" for="nameAlumno"><b class="obligatorio">*</b> Nombre Completo</label>
                            <!-- <mdb-error *ngIf="nameAlumno?.invalid && (nameAlumno?.dirty || nameAlumno?.touched)">Campo Requerido</mdb-error> -->
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-4 my-3 form-outline">
                        <mdb-form-control>
                            <!-- <input mdbValidate mdbInput type="text" id="cui" class="form-control" formControlName="cui" autocomplete="off" required /> -->
                            <input mdbInput type="text" id="cui" [(ngModel)]="alumno.cui_Alumno" name="cui" class="form-control" autocomplete="off" required />
                            <label mdbLabel class="form-label" for="cui"><b class="obligatorio">*</b> CUI</label>
                            <!-- <mdb-error *ngIf="cui?.invalid && (cui?.dirty || cui?.touched)">Campo Requerido</mdb-error> -->
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-4 my-3 form-outline">
                        <mdb-form-control>
                            <!-- <input mdbValidate mdbInput type="date" id="fecNac" class="form-control" formControlName="fecNac" autocomplete="off" required /> -->
                            <input mdbInput type="date" id="fecNac" [(ngModel)]="alumno.fecha_Nac" name="fecNac" class="form-control" autocomplete="off" required />
                            <label mdbLabel class="form-label" for="fecNac"><b class="obligatorio">*</b> Fecha de Nacimiento</label>
                            <!-- <mdb-error *ngIf="fecNac?.invalid && (fecNac?.dirty || fecNac?.touched)">Campo Requerido</mdb-error> -->
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-4 my-3 form-outline align-self-center">
                        <div class="form-outline">
                            <select class="form-control bonus-design" (change)="gradoSelect($event)">
                                <option selected><b class="obligatorio">*</b> Grado</option>
                                <option *ngFor = 'let grado of grados.data' value="{{grado.grado_Id}}">{{grado.grado}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xl-8 my-3 text-center">
                        <label for="formFile" class="form-label text-start">Seleccione imagen/foto del producto</label>
                        <input class="form-control" (change)="uploadPhoto($event)" type="file" id="formFile">
                        <div class="spinner-border text-primary" role="status" *ngIf="lookSpinner">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p class="text-center {{textDone[0]}}" *ngIf="lookTextPhoto">{{textDone[1]}} </p>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="d-grid gap-2 d-md-block text-center pt-3">
            <button class="btn btn-success mx-1 fadeIn second" type="button" (click)="inscribirAlumno()"><i class="far fa-handshake"></i> Inscribir
                Alumno</button>
            <!-- <button class="btn btn-primary mx-1 fadeIn second" type="button" disabled><i class="far fa-file-pdf"></i> Descargar PDF</button> -->
            <button class="btn btn-danger mx-1 fadeIn second" type="button" routerLink="/home"><i
                    class="fas fa-times"></i> Cancelar</button>
        </div>
    </form>
</div>


<!-- EJEMPLO VALIDAR FORMULARIO -->

<!-- 

    <form [formGroup]="validationForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                      <div class="col-md-6">
                        <mdb-form-control>
                          <input
                            mdbValidate
                            mdbInput
                            type="text"
                            id="form2"
                            class="form-control"
                            formControlName="lastName"
                            required
                          />
                          <label mdbLabel class="form-label" for="form2">Last name</label>
                          <mdb-error *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
                            >Campo Requerido</mdb-error
                          >
                          <mdb-success *ngIf="lastName?.valid && (lastName?.dirty || lastName?.touched)"
                            >Looks good!</mdb-success
                          >
                        </mdb-form-control>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary mt-4">Submit</button>
                </form>
 -->