<div class="container pt-5 mb-10">
    <div class="card mt-4">
        <div class="card-body">
            <h2 class="card-header text-center fadeIn"><i class="fa-solid fa-chart-column"></i> Reportes</h2>
            <div class="row">
                <div class="col-xl-12 pb-4 border border-1 rounded-5 ">
                    <p class="h4 pt-3 text-center fadeIn second">Ingresos y Egresos</p>
                    <div class="chart-container">
                        <canvas id="MyChartIngresoEgreso"></canvas>
                    </div>
                </div>
                <div class="col-xl-4 pb-4 border border-1 rounded-5">
                    <p class="h4 pt-3 text-center fadeIn second">Alumnos Solventes Al Mes Actual</p>
                    <div class="chart-container">
                        <canvas id="MyChartSolventeInsolvente"></canvas>
                    </div>
                </div>
                <div class="col-xl-4 pb-4 border border-1 rounded-5">
                    <p class="h4 pt-3 text-center fadeIn second">Origen de Pago Colegiatura</p>
                    <div class="chart-container">
                        <canvas  id="MyChartPagosAppyAdmin"></canvas>
                    </div>
                </div> 
                <div class="col-xl-4 pb-4 border border-1 rounded-5">
                    <p class="h4 pt-3 text-center fadeIn second">Cantidad de Alumnos y Empleados</p>
                    <div class="chart-container">
                        <canvas  id="MyChartAlumnosEmpleados"></canvas>
                    </div>
                </div> 
                <div class="col-xl-12 pb-4 border border-1 rounded-5">
                    <p class="h4 pt-3 text-center fadeIn second">Disponibilidad de productos</p>
                    <div class="chart-container">
                        <canvas id="MyChartProductosDisponibles"></canvas>
                    </div>
                </div>
                
                
                <!-- <div class="col-xl-6">
                    <p class="h4 pt-3 text-center">Productos Vendidos</p>
                    <canvas
                        baseChart
                        [chartType]="'bar'"
                        [legend]="true"
                        [datasets]="chartDataProductos"
                        [labels]="chartLabelsProductos"
                        [options]="chartOptionsProductos"
                        
                    >
                    </canvas>
                </div>
                <div class="col-xl-6">
                    <p class="h4 pt-3 text-center">Venta y Disponibilidad De Productos Al Mes Actual</p>
                    <div class="chart-container">
                        <canvas  id="MyChart"></canvas>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

<!-- GRAFICAS -->
<!-- 

    https://www.chartjs.org/
    https://www.chartjs.org/docs/latest/
    https://www.chartjs.org/docs/latest/samples/bar/vertical.html
    https://www.chartjs.org/docs/latest/charts/bar.html
    https://www.freecodecamp.org/news/how-to-make-bar-and-line-charts-using-chartjs-in-angular/

-->