<div class="container pt-5 mb-10">
    <div class="card mt-4 fadeInDown pb-2">
        <div class="card-body">
            <h3 class="card-header text-center fadeIn">
                <i class="fa-solid fa-list-check"></i> Notas Finales
                <label class="obligatorio">
                    * Obligatorio
                </label>
            </h3>
            <div class="row justify-content-md-center">
                <div class="col-xl-4 mt-3 form-outline">
                    <select class="form-control bonus-design" (change)="GradoSelect($event)">
                        <option selected disabled><b class="obligatorio">*</b> Grado</option>
                        <option *ngFor = 'let grado of grados.data' value="{{grado.grado_Id}}">{{grado.grado}}</option>
                    </select>
                </div>
                <div class="col-xl-4 form-outline mt-3">
                    <select class="form-control bonus-design" (change)="AlumnoSelect($event)">
                        <option selected disabled><b class="obligatorio">*</b> Alumno</option>
                        <option *ngFor = 'let alumno of alumnos.data' value="{{alumno.cui_Alumno}}">{{alumno.nombre_Alumno}}</option>
                    </select>
                </div>
                <div class="col-xl-4 form-outline mt-3">
                    <select class="form-control bonus-design" (change)="BimestreSelect($event)">
                        <option selected disabled><b class="obligatorio">*</b> Bimestre</option>
                        <option value="1">PRIMER BIMESTRE</option>
                        <option value="2">SEGUNDO BIMESTRE</option>
                        <option value="3">TERCER BIMESTRE</option>
                        <option value="4">CUARTO BIMESTRE</option>
                        <option value="5">QUINTO BIMESTRE</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- PINTAR ALUMNOS PARA CALIFICAR TAREA -->
    <div class="card mt-3 fadeInDown" *ngIf="verForm">
        <h5 class="card-header text-center fadeIn">
            <img src="{{no_Foto}}" class="rounded-circle" height="45" alt="Foto Alumno" loading="lazy" *ngIf="!infoAlumno.data.foto; else elseBlock"/>
            <ng-template #elseBlock>
                <img src="{{infoAlumno.data.foto}}" class="rounded-circle" height="45" alt="Foto Alumno" loading="lazy" />
            </ng-template>
            <span class="badge bg-dark">{{infoAlumno.data.nombre}}</span>
            -
            <span class="badge badge-danger">BIMESTRE {{bimestreSelect}}</span>
                <!-- <span class="badge badge-light">BIMESTRE 1</span>
                <span class="badge badge-warning">BIMESTRE 1</span> -->
        </h5>
        <!-- PINTA ALUMNOS PARA SU NOTA -->
        <table class="table table-hover table-light fadeInDown" *ngIf="!notasYA; else elseBlock2">
            <thead  class="align-middle text-center">
                <tr>
                    <th scope="col" style="width:400px;">Materia</th>
                    <th scope="col">Zona</th>
                    <th scope="col">Examen</th>
                    <th scope="col">Nota Final</th>
                </tr>
            </thead>
            <tbody class="align-middle text-center" *ngFor='let curso of cursos.data; index as i;'>
                <!-- Pintan los cursos -->
                <tr>
                    <th scope="row" style="width:400px;" class="form-label">{{curso.nombre_Curso}}</th>
                    <th>
                        <div class="form-outline">
                            <mdb-form-control>
                                <input mdbInput type="number" id="Zona" [(ngModel)]="punteoFinal[i][0]" name="Zona" class="form-control" autocomplete="off" max="100" required (change)="punteoZona($event,i)"/>
                                <label mdbLabel class="form-label" for="Zona"><b class="obligatorio">*</b> Zona</label>
                            </mdb-form-control>
                        </div>
                    </th>
                    <th>
                        <div class="form-outline">
                            <mdb-form-control>
                                <input mdbInput type="number" id="Examen" [(ngModel)]="punteoFinal[i][1]" name="Examen" class="form-control" autocomplete="off" max="100" required (change)="punteoExamen($event,i)"/>
                                <label mdbLabel class="form-label" for="Examen"><b class="obligatorio">*</b> Examen</label>
                            </mdb-form-control>
                        </div>
                    </th>
                    <th>
                        <div>
                            <label class="form-label">
                                {{punteoFinal[i][2]}} pts.
                            </label>
                        </div>
                    </th>
                </tr>
                <!-- / Pintan los cursos -->
            </tbody>
        </table>
        <!-- PINTA ALUMNOS PARA SU NOTA -->
        <ng-template #elseBlock2>
            <div class="pt-4 px-5 mx-5 fadeInDown">
                <p class="fs-3" style="color: rgb(58, 101, 218);">
                    <i class="fa-solid fa-circle-check"></i> 200 OK 
                </p>
                <p class="fs-5 text-muted">
                    ¡Yeeei! <br />
                    Las notas para el alumno seleccionado en el bimestre seleccionado ya fueron subidas.
                </p>
            </div>
            <div class="container text-center pb-4 fadeInDown">
                <img src="../../../../assets/200_OK.png" class="img-fluid" alt="ok" loading="lazy" />
            </div>
        </ng-template>
        <div class="d-grid gap-2 d-md-block text-center py-4" *ngIf="!notasYA">
            <button class="btn btn-success mx-1 fadeIn second" type="button" (click)="SubirNotas()"><i class="fa-solid fa-upload"></i> Subir Notas</button>
            <button class="btn btn-danger mx-1 fadeIn second" type="button" routerLink="/home"><i class="fas fa-times"></i> Cancelar</button>
        </div>
        
    </div>
</div>
