<div class="container pt-5 mb-10">
    <div class="card mt-4 bg-glass fadeInDown pb-2">
        <div class="card-body">
            <h3 class="card-header text-center fadeIn">
                <i class="fa-solid fa-list-check"></i> Notas Finales
                <label class="obligatorio">
                    * Obligatorio
                </label>
            </h3>
            <div class="row justify-content-md-center">
                <div class="col-xl-6 mt-3 form-outline">
                    <select class="form-control bonus-design">
                        <option selected><b class="obligatorio">*</b> Grado</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-xl-6 form-outline mt-3">
                    <select class="form-control bonus-design">
                        <option selected><b class="obligatorio">*</b> Curso</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-xl-12 mt-3 form-outline">
                    <select class="form-control bonus-design">
                        <option selected><b class="obligatorio">*</b> Bimestre</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- PINTAR ALUMNOS PARA CALIFICAR TAREA -->
    <div class="card mt-3 fadeInDown">
        <h4 class="card-header text-center fadeIn">
            Grado XX - Bimestre XX
        </h4>
        <!-- PINTA ALUMNOS PARA SU NOTA -->
        <div class="row pb-3">
            <div class="col-xl-12 mt-3 text-center">
                <img src="https://imgs.search.brave.com/YhoKht41mr7TqTg1vuPLsWj5sKYoVTl2-XgVDjh_f10/rs:fit:640:640:1/g:ce/aHR0cDovL2Nkbi5w/bGF5YnV6ei5jb20v/Y2RuLzkxMzI1M2Nk/LTVhMDItNGJmMi04/M2UxLTE4ZmYyY2M3/MzQwZi9jNTYxNTdk/NS01ZDhlLTQ4MjYt/ODlmOS0zNjE0MTIy/NzVjMzUuanBn" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy" />  Alumno XX
            </div>
        </div>
        <table class="table table-striped table-hover table-light">
            <thead  class="align-middle text-center">
                <tr>
                    <th scope="col" style="width:400px;">Materia</th>
                    <th scope="col">Zona</th>
                    <th scope="col">Examen</th>
                    <th scope="col">Nota Final</th>
                </tr>
            </thead>
            <tbody  class="align-middle text-center">
                <!-- Pintan los cursos -->
                <tr>
                    <th scope="row" style="width:400px;" class="form-label" >Materia XX</th>
                    <th>
                        <div class="form-outline">
                            <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="Zona" max="100"/>
                        </div>
                    </th>
                    <th>
                        <div class="form-outline">
                            <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="Examen" max="100"/>
                        </div>
                    </th>
                    <th>
                        <div class="form-outline">
                            <label class="form-label">XX pts.</label>
                        </div>
                    </th>
                </tr>
                <!-- / Pintan los cursos -->
                <tr>
                    <th scope="row" style="width:400px;" class="form-label" >Materia XX</th>
                    <th>
                        <div class="form-outline">
                            <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="Zona" max="100"/>
                        </div>
                    </th>
                    <th>
                        <div class="form-outline">
                            <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="Examen" max="100"/>
                        </div>
                    </th>
                    <th>
                        <div class="form-outline">
                            <label class="form-label">XX pts.</label>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
        <!-- PINTA ALUMNOS PARA SU NOTA -->
        <hr />
        <div class="row pb-3">
            <div class="col-xl-12 mt-3 text-center">
                <img src="https://imgs.search.brave.com/YhoKht41mr7TqTg1vuPLsWj5sKYoVTl2-XgVDjh_f10/rs:fit:640:640:1/g:ce/aHR0cDovL2Nkbi5w/bGF5YnV6ei5jb20v/Y2RuLzkxMzI1M2Nk/LTVhMDItNGJmMi04/M2UxLTE4ZmYyY2M3/MzQwZi9jNTYxNTdk/NS01ZDhlLTQ4MjYt/ODlmOS0zNjE0MTIy/NzVjMzUuanBn" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy" />  Alumno XX
            </div>
        </div>
        <table class="table table-striped table-hover table-light">
            <thead  class="align-middle text-center">
                <tr>
                    <th scope="col" style="width:400px;">Materia</th>
                    <th scope="col">Zona</th>
                    <th scope="col">Examen</th>
                    <th scope="col">Nota Final</th>
                </tr>
            </thead>
            <tbody  class="align-middle text-center">
                <!-- Pintan los cursos -->
                <tr>
                    <th scope="row" style="width:400px;" class="form-label" >Materia XX</th>
                    <th>
                        <div class="form-outline">
                            <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="Zona" max="100"/>
                        </div>
                    </th>
                    <th>
                        <div class="form-outline">
                            <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="Examen" max="100"/>
                        </div>
                    </th>
                    <th>
                        <div class="form-outline">
                            <label class="form-label">XX pts.</label>
                        </div>
                    </th>
                </tr>
                <!-- / Pintan los cursos -->
                <tr>
                    <th scope="row" style="width:400px;" class="form-label" >Materia XX</th>
                    <th>
                        <div class="form-outline">
                            <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="Zona" max="100"/>
                        </div>
                    </th>
                    <th>
                        <div class="form-outline">
                            <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="Examen" max="100"/>
                        </div>
                    </th>
                    <th>
                        <div class="form-outline">
                            <label class="form-label">XX pts.</label>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
        <hr />
        <div class="d-grid gap-2 d-md-block text-center py-4">
            <button class="btn btn-success mx-1 fadeIn second" type="button"><i class="fa-solid fa-upload"></i> Subir Notas</button>
            <button class="btn btn-danger mx-1 fadeIn second" type="button" routerLink="/home"><i class="fas fa-times"></i> Cancelar</button>
        </div>
        
    </div>
</div>



            <!-- TABLA 2 PRUEBA
            
            <ul class="list-group list-group-flush">
            
            <li class="list-group-item"> 
                <div class="row justify-content-md-center fw-bolder">
                    <div class="col-sm-4 text-center">
                        Materia
                    </div>
                    <div class="col-sm-8 text-center">
                        <div class="row justify-content-md-center">
                            <div class="col-sm-2 text-center">
                                Bimestre 1
                            </div>
                            <div class="col-sm-2 text-center">
                                Bimestre 2
                            </div>
                            <div class="col-sm-2 text-center">
                                Bimestre 3
                            </div>
                            <div class="col-sm-2 text-center">
                                Bimestre 4
                            </div>
                            <div class="col-sm-2 text-center">
                                Bimestre 5
                            </div>
                            <div class="col-sm-2 text-center">
                                Promedio Curso
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            
            <li class="list-group-item"> 
                <div class="row justify-content-md-center d-flex">
                    <div class="col-sm-4 text-center pt-2 fw-bolder">
                        Comunicación y Lenguaje
                    </div>
                    <div class="col-sm-8">
                        <div class="row justify-content-md-center">
                            <div class="col-sm-2 form-outline">
                                <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="B1" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B2" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B3" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B4" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B5" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline text-center pt-2">
                                78 pts
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            
            <li class="list-group-item"> 
                <div class="row justify-content-md-center d-flex">
                    <div class="col-sm-4 text-center pt-2 fw-bolder">
                        Ciencias Sociales
                    </div>
                    <div class="col-sm-8">
                        <div class="row justify-content-md-center">
                            <div class="col-sm-2 form-outline">
                                <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="B1" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B2" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B3" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B4" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B5" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline text-center pt-2">
                                78 pts
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row justify-content-md-center d-flex">
                    <div class="col-sm-4 text-center pt-2 fw-bolder">
                        Matematica
                    </div>
                    <div class="col-sm-8">
                        <div class="row justify-content-md-center">
                            <div class="col-sm-2 form-outline">
                                <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="B1" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B2" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B3" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B4" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B5" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline text-center pt-2">
                                78 pts
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
            -->

<br/><br /><br />

<div class="container pt-5 mb-10">
    <div class="card mt-4 bg-glass fadeInDown pb-2">
        <div class="card-body">
            <h3 class="card-header text-center fadeIn">
                Notas Finales
            </h3>
            <div class="row justify-content-md-center">
                <div class="col-xl-6 mt-3 form-outline">
                    <select class="form-control bonus-design">
                        <option selected>Grado</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-xl-6 form-outline mt-3">
                    <select class="form-control bonus-design">
                        <option selected>Curso</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col-xl-12 mt-3 form-outline">
                    <select class="form-control bonus-design">
                        <option selected>Bimestre</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <!-- PINTAR ALUMNOS PARA CALIFICAR TAREA -->
    <div class="card mt-3 fadeInDown borde">
        <h4 class="card-header text-center fadeIn">
            Grado XX - Bimestre XX
        </h4>
        <!-- PINTA ALUMNOS PARA SU NOTA -->
        <div class="row pb-3">
            <div class="col-xl-12 mt-3 text-center">
                <img src="https://imgs.search.brave.com/YhoKht41mr7TqTg1vuPLsWj5sKYoVTl2-XgVDjh_f10/rs:fit:640:640:1/g:ce/aHR0cDovL2Nkbi5w/bGF5YnV6ei5jb20v/Y2RuLzkxMzI1M2Nk/LTVhMDItNGJmMi04/M2UxLTE4ZmYyY2M3/MzQwZi9jNTYxNTdk/NS01ZDhlLTQ4MjYt/ODlmOS0zNjE0MTIy/NzVjMzUuanBn" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy" />  Alumno XX
            </div>
        </div>
        <table class="table table-striped table-hover table-light">
            <thead  class="align-middle text-center">
                <tr>
                    <th scope="col" style="width:400px;">Materia</th>
                    <th scope="col">Zona</th>
                    <th scope="col">Examen</th>
                    <th scope="col">Nota Final</th>
                </tr>
            </thead>
            <tbody  class="align-middle text-center">
                <!-- Pintan los cursos -->
                <tr>
                    <th scope="row" style="width:400px;" class="form-label" >Materia XX</th>
                    <th>
                        <div class="form-outline">
                            <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="Zona" max="100"/>
                        </div>
                    </th>
                    <th>
                        <div class="form-outline">
                            <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="Examen" max="100"/>
                        </div>
                    </th>
                    <th>
                        <div class="form-outline">
                            <label class="form-label">XX pts.</label>
                        </div>
                    </th>
                </tr>
                <!-- / Pintan los cursos -->
                <tr>
                    <th scope="row" style="width:400px;" class="form-label" >Materia XX</th>
                    <th>
                        <div class="form-outline">
                            <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="Zona" max="100"/>
                        </div>
                    </th>
                    <th>
                        <div class="form-outline">
                            <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="Examen" max="100"/>
                        </div>
                    </th>
                    <th>
                        <div class="form-outline">
                            <label class="form-label">XX pts.</label>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
        <!-- PINTA ALUMNOS PARA SU NOTA -->
        <hr />
        <div class="row pb-3">
            <div class="col-xl-12 mt-3 text-center">
                <img src="https://imgs.search.brave.com/YhoKht41mr7TqTg1vuPLsWj5sKYoVTl2-XgVDjh_f10/rs:fit:640:640:1/g:ce/aHR0cDovL2Nkbi5w/bGF5YnV6ei5jb20v/Y2RuLzkxMzI1M2Nk/LTVhMDItNGJmMi04/M2UxLTE4ZmYyY2M3/MzQwZi9jNTYxNTdk/NS01ZDhlLTQ4MjYt/ODlmOS0zNjE0MTIy/NzVjMzUuanBn" class="rounded-circle" height="25" alt="Black and White Portrait of a Man" loading="lazy" />  Alumno XX
            </div>
        </div>
        <table class="table table-striped table-hover table-light">
            <thead  class="align-middle text-center">
                <tr>
                    <th scope="col" style="width:400px;">Materia</th>
                    <th scope="col">Zona</th>
                    <th scope="col">Examen</th>
                    <th scope="col">Nota Final</th>
                </tr>
            </thead>
            <tbody  class="align-middle text-center">
                <!-- Pintan los cursos -->
                <tr>
                    <th scope="row" style="width:400px;" class="form-label" >Materia XX</th>
                    <th>
                        <div class="form-outline">
                            <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="Zona" max="100"/>
                        </div>
                    </th>
                    <th>
                        <div class="form-outline">
                            <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="Examen" max="100"/>
                        </div>
                    </th>
                    <th>
                        <div class="form-outline">
                            <label class="form-label">XX pts.</label>
                        </div>
                    </th>
                </tr>
                <!-- / Pintan los cursos -->
                <tr>
                    <th scope="row" style="width:400px;" class="form-label" >Materia XX</th>
                    <th>
                        <div class="form-outline">
                            <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="Zona" max="100"/>
                        </div>
                    </th>
                    <th>
                        <div class="form-outline">
                            <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="Examen" max="100"/>
                        </div>
                    </th>
                    <th>
                        <div class="form-outline">
                            <label class="form-label">XX pts.</label>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
        <hr />
        <div class="d-grid gap-2 d-md-block text-center py-4">
            <br /><br />
        </div>
        
    </div>
</div>



            <!-- TABLA 2 PRUEBA
            
            <ul class="list-group list-group-flush">
            
            <li class="list-group-item"> 
                <div class="row justify-content-md-center fw-bolder">
                    <div class="col-sm-4 text-center">
                        Materia
                    </div>
                    <div class="col-sm-8 text-center">
                        <div class="row justify-content-md-center">
                            <div class="col-sm-2 text-center">
                                Bimestre 1
                            </div>
                            <div class="col-sm-2 text-center">
                                Bimestre 2
                            </div>
                            <div class="col-sm-2 text-center">
                                Bimestre 3
                            </div>
                            <div class="col-sm-2 text-center">
                                Bimestre 4
                            </div>
                            <div class="col-sm-2 text-center">
                                Bimestre 5
                            </div>
                            <div class="col-sm-2 text-center">
                                Promedio Curso
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            
            <li class="list-group-item"> 
                <div class="row justify-content-md-center d-flex">
                    <div class="col-sm-4 text-center pt-2 fw-bolder">
                        Comunicación y Lenguaje
                    </div>
                    <div class="col-sm-8">
                        <div class="row justify-content-md-center">
                            <div class="col-sm-2 form-outline">
                                <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="B1" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B2" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B3" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B4" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B5" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline text-center pt-2">
                                78 pts
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            
            <li class="list-group-item"> 
                <div class="row justify-content-md-center d-flex">
                    <div class="col-sm-4 text-center pt-2 fw-bolder">
                        Ciencias Sociales
                    </div>
                    <div class="col-sm-8">
                        <div class="row justify-content-md-center">
                            <div class="col-sm-2 form-outline">
                                <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="B1" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B2" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B3" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B4" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B5" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline text-center pt-2">
                                78 pts
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item"> 
                <div class="row justify-content-md-center d-flex">
                    <div class="col-sm-4 text-center pt-2 fw-bolder">
                        Matematica
                    </div>
                    <div class="col-sm-8">
                        <div class="row justify-content-md-center">
                            <div class="col-sm-2 form-outline">
                                <input type="number" class="form-control bonus-design text-center" autocomplete="off" placeholder="B1" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B2" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B3" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B4" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline">
                                <input type="text" class="form-control bonus-design text-center" autocomplete="off" placeholder="B5" max="100"/>
                            </div>
                            <div class="col-sm-2 form-outline text-center pt-2">
                                78 pts
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
            -->