<!-- OTRA ANIMACION TITULO
https://codepen.io/alvarotrigo/pen/PoKMyNO
-->
<div class="container pt-5 mb-10">

  <div class="card mt-4 fadeInDown">
    <div class="card-body">
      <div class="waviy text-center">
        <span style="--i:1">L</span>
        <span style="--i:2">I</span>
        <span style="--i:3">C</span>
        <span style="--i:4">E</span>
        <span style="--i:5">O</span>
        <span style="--i:6">-</span>
        <span style="--i:7">M</span>
        <span style="--i:8">O</span>
        <span style="--i:9">N</span>
        <span style="--i:10">T</span>
        <span style="--i:11">E</span>
        <span style="--i:12">-</span>
        <span style="--i:13">S</span>
        <span style="--i:14">I</span>
        <span style="--i:15">N</span>
        <span style="--i:16">A</span>
        <span style="--i:17">Í</span>
      </div>
      <div class="row justify-content-md-center pt-5">        
        <hr class="mt-4"/>
        <div class="col-xl-9 text-center">
          <img src="https://uploads-ssl.webflow.com/61b36a9ff7cd65483c603817/61b36a9ff7cd658647603d33_frase-motivacional-steve-jobs.png" class="img-fluid fadeIn third" />
        </div>
      </div>
      <p class="title text-center fadeIn second"> <span><i class="fa-solid fa-face-laugh-wink lineUp"></i> Bienvenido Melvin Misael Joj Gil <i class="fa-solid fa-face-laugh-wink lineUp"></i></span> </p>
      
    </div>
  </div>


</div>

          <!-- <h3 class="card-header text-center fadeIn second ">
            <i class="fa-solid fa-face-laugh-wink lineUp" style="color: orange"></i> Bienvenido Melvin Misael Joj Gil <i class="fa-solid fa-face-laugh-wink lineUp" style="color: orange"></i>
          </h3> -->