<div class="pt-4">
    <div class="card fadeInDown">
        <div class="card-body">
            <div class="pt-4 px-5 mx-5">
                <p class="fs-4 fw-bold" style="color: rgb(58, 101, 218);">
                    <a
                        href="https://learn.microsoft.com/es-es/troubleshoot/developer/webapps/iis/www-administration-management/http-status-code">
                        <i class="fa-solid fa-book-open"></i> README</a>
                </p>
                <p *ngIf="mostrarErrMessage; else elseBlock" class="fs-3" style="color: rgb(58, 101, 218);">
                    {{SendError.status}} {{SendError.statusText}} <br /> {{SendError.error.message}}
                </p>
                <ng-template #elseBlock>
                    <p class="fs-3" style="color: rgb(58, 101, 218);">
                        {{SendError.status}} {{SendError.statusText}}
                    </p>
                </ng-template>
                <p class="fs-6 text-muted">
                    Ooops... Parece que algo salió mal. <br />
                    Intente actualizar esta página o no dude en contactarnos si el problema persiste
                </p>
            </div>
            <img src="../../../../assets/ERROR IMAGEN.jpg" class="img-fluid" alt="Err" loading="lazy" />
        </div>
    </div>
</div>