<!-- <div class="container pt-5">
    <div class="card bg-glass fadeInDown">
        <div class="card-body">
            <div class="pt-4">
                <p class="fs-1 text-center fw-bold text-muted">
                    500 <span class="text-danger fs-3">INTERNAL SERVER ERROR</span>
                </p>
                <p class="fs-5 text-muted" style="padding-left: 10em;">
                    Ooops... Parece que algo salió mal.
                </p>
                <p class="fs-5 text-muted" style="padding-left: 10em;">
                    intente actualizar esta página o no dude en contactarnos si <br/> el problema persiste
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container pt-5">
    <div class="card bg-glass fadeInDown">
        <div class="card-body">
            <div class="pt-0">
                <p class="fs-1 text-center fw-bold text-muted">
                    <span style="font-size: 120px;">500</span><br>
                    <span class="text-danger fs-4">INTERNAL SERVER ERROR</span>
                </p>
                <p class="fs-5 text-muted" style="padding-left: 10em;">
                    Ooops... Parece que algo salió mal.
                </p>
                <p class="fs-5 text-muted" style="padding-left: 10em;">
                    intente actualizar esta página o no dude en contactarnos si <br/> el problema persiste
                </p>
            </div>
        </div>
    </div>
</div> -->
<div class="container pt-4">
    <div class="card fadeInDown">
        <div class="card-body">
            <div class="pt-4 px-5 mx-5">
                <p class="fs-4 fw-bold" style="color: rgb(58, 101, 218);">
                    <a href="https://learn.microsoft.com/es-es/troubleshoot/developer/webapps/iis/www-administration-management/http-status-code"><i class="fa-solid fa-book-open"></i> README</a>
                </p>
                <p class="fs-3" style="color: rgb(58, 101, 218);">
                    500 INTERNAL SERVER ERROR
                </p>
                <p class="fs-6 text-muted">
                    Ooops... Parece que algo salió mal. <br />
                    Intente actualizar esta página o no dude en contactarnos si el problema persiste
                </p>
            </div>
            <img src="../../../../assets/ERROR IMAGEN.jpg" class="img-fluid"  alt="Err" loading="lazy" />
        </div>
    </div>
</div>