<div class="row pb-2" *ngFor="let container of containers">
    <div class="col-4 align-self-center">
        <div class="form-outline">
            <select class="form-control bonus-design text-center">
                <option selected>Seleccione el Grado</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <div class="col-8 border border-1 rounded-5">
        <p class="text-muted fw-lighter">Cursos no asignados del Grado XX</p>
        <div class="row mx-2 my-3">
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1" value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1" value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1" value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1" value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1" value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1" value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1" value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1" value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1" value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1" value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1" value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
        </div>
    </div>
</div>

<div class="d-grid gap-2 d-md-block text-center pt-3">
    <button class="btn btn-primary btn-lg mx-1 fadeIn second" type="button" (click)="add()"><i class="fas fa-plus"></i> AGREGAR</button>
    <button class="btn btn-success btn-lg mx-1 fadeIn second" type="button">CHEK ASIGNAR</button>
</div>


<!-- <div class="d-grid gap-2 d-md-block text-center pt-3">
    <button class="btn btn-success mx-1 fadeIn second" type="button"><i class="far fa-handshake"></i> Inscribir Alumno</button>
    <button class="btn btn-primary mx-1 fadeIn second" type="button" disabled><i class="far fa-file-pdf"></i> Descargar PDF</button>
    <button class="btn btn-danger mx-1 fadeIn second" type="button" routerLink="/home"><i class="fas fa-times"></i> Cancelar</button>
</div> -->