<!-- <div class="container pt-5">
    <div class="card mt-4 fadeInDown">
        <h3 class="card-header text-center fadeIn second">
            <i class="fa-solid fa-hand-holding-dollar"></i> Estado de Cuenta
        </h3>
        <div class="card-body">
            <h5 class="text-end pb-2 pt-1 px-4">Monto Colegiatura: <span style="color: green">Q. 200.5</span></h5>
            Pinta el Alumno
            <div class="row justify-content-center">
                <div class="col-xl-4">
                    <img src="https://imgs.search.brave.com/YhoKht41mr7TqTg1vuPLsWj5sKYoVTl2-XgVDjh_f10/rs:fit:640:640:1/g:ce/aHR0cDovL2Nkbi5w/bGF5YnV6ei5jb20v/Y2RuLzkxMzI1M2Nk/LTVhMDItNGJmMi04/M2UxLTE4ZmYyY2M3/MzQwZi9jNTYxNTdk/NS01ZDhlLTQ4MjYt/ODlmOS0zNjE0MTIy/NzVjMzUuanBn"
                        class="img-fluid" />
                </div>
                <div class="col-xl-4 align-self-center pt-3">
                    <p>
                        <small>
                            <b>CUI:</b> 2780691420304 <br />
                            <b>Grado:</b> Tercero Basico <br />
                            <b>Ultimo Mes Cancelado:</b> 2780691420304 <br />
                            <b>Encargado:</b> Melvin Misael Joj Gil <br />
                            <b>No. Tel:</b> 3516-3511
                        </small>
                    </p>
                    <p class="text-center">
                        <b class="text-success"><i class="fa-solid fa-circle-check"></i> SOLVENTE</b> <br />
                        <b class="text-danger"><i class="fa-solid fa-circle-xmark"></i> NO SOLVENTE</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container mb-10 pt-5">
    <div class="card mt-4 fadeInDown">
        <h3 class="card-header text-center fadeIn second">
            <i class="fa-solid fa-money-check-dollar"></i> Subir
            Comprobante De Pago 
            <label class="obligatorio">
                * Obligatorio
            </label>
        </h3>
        <div class="card-body">
            <!-- <h5 class="text-end pt-3 px-4">Monto: <span style="color: green">Q. Monto.00</span></h5> -->
            <form method="post">
                <div class="row pb-4">
                    <div class="col-xl-4 form-outline align-self-center mb-4">
                        <select class="form-select form-control bonus-design" aria-label="Default select example">
                            <option selected><b class="obligatorio">*</b> Mes de Pago</option>
                            <option value="1">Uno</option>
                            <option value="2">Dos</option>
                            <option value="3">Tres</option>
                        </select>
                    </div>
                    <!-- <div class="col-xl-6 mt-3 form-outline">
                        <input type="text" id="comentarios" class="form-control bonus-design" autocomplete="off" />
                        <label class="form-label" for="fomentarios">Comentarios</label>
                    </div> -->
                    <div class="col-xl-8 mb-4 text-center">
                        <label for="formFile" class="form-label text-start"><b class="obligatorio">*</b> Seleccione boleta de banco</label>
                        <input class="form-control" (change)="uploadPhoto($event)" type="file" id="formFile">
                        <div class="spinner-border text-primary" role="status" *ngIf="lookSpinner">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p class="text-center {{textDone[0]}}" *ngIf="lookTextPhoto">{{textDone[1]}} </p>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-block text-center ">
                    <button class="btn btn-success mx-1 fadeIn second" type="button"><i
                            class="far fa-money-bill-alt"></i> Enviar comprobante
                    </button>
                    <button class="btn btn-danger mx-1 fadeIn second" type="button" routerLink="/home"><i
                            class="fas fa-times"></i> Cancelar</button>
                </div>
            </form>


        </div>
    </div>
</div>
