<div class="container pt-5 mb-10">
    <form method="post">
        <div class="card mt-4 fadeInDown">
            <div class="card-body">
                <h3 class="card-header text-center">
                    <i class="fas fa-chalkboard-teacher"></i> Datos del Empleado
                    <label class="obligatorio align-middle">
                        * Obligatorio
                    </label>
                </h3>
                <div class="row justify-content-md-center">
                    <div class="col-xl-4 mt-3 form-outline">
                        <mdb-form-control>
                            <input mdbInput type="text" id="dpi" class="form-control" autocomplete="off" required />
                            <label mdbLabel class="form-label" for="dpi"><b class="obligatorio">*</b> DPI</label>
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-4 mt-3 form-outline">
                        <mdb-form-control>
                            <input mdbInput type="text" id="nameEmpleado" class="form-control" autocomplete="off"
                                required />
                            <label mdbLabel class="form-label" for="nameEmpleado"><b class="obligatorio">*</b> Nombre
                                Completo</label>
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-4 mt-3 form-outline">
                        <mdb-form-control>
                            <input mdbInput type="text" id="cel" class="form-control" autocomplete="off" required />
                            <label mdbLabel class="form-label" for="cel"><b class="obligatorio">*</b> Número
                                Celular</label>
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-4 mt-3 form-outline">
                        <mdb-form-control>
                            <input mdbInput type="date" id="fecNac" class="form-control" autocomplete="off" required />
                            <label mdbLabel class="form-label" for="fecNac"><b class="obligatorio">*</b> Fecha de
                                Nacimiento</label>
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-4 mt-3 form-outline">
                        <mdb-form-control>
                            <input mdbInput type="text" id="dir" class="form-control" autocomplete="off" required />
                            <label mdbLabel class="form-label" for="dir"><b class="obligatorio">*</b> Dirección</label>
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-4 mt-3 form-outline">
                        <mdb-form-control>
                            <input mdbInput type="text" id="puesto" class="form-control" autocomplete="off" required />
                            <label mdbLabel class="form-label" for="puesto"><b class="obligatorio">*</b> Puesto</label>
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-4 mt-3 form-outline">
                        <mdb-form-control>
                            <input mdbInput type="text" id="salario" class="form-control" autocomplete="off" required />
                            <label mdbLabel class="form-label" for="salario"><b class="obligatorio">*</b>
                                Salario</label>
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-4 mt-3 form-outline">
                        <mdb-form-control>
                            <input mdbInput type="email" id="mail" class="form-control" autocomplete="off" required />
                            <label mdbLabel class="form-label" for="mail">Correo Electrónico</label>
                        </mdb-form-control>
                    </div>
                    <div class="col-xl-4 mt-3 form-outline">
                        <div class="row">
                            <div class="col text-end">
                                <span class="badge bg-primary">¿Impartirá Clases?</span>
                            </div>
                            <div class="col text-start">
                                <div class="form-check form-check-inline">
                                    <input mdbRadio class="form-check-input" type="radio"
                                        (change)="valueInputRadio($event)" name="inlineRadioOptions" id="inlineRadio1"
                                        value="YES" />
                                    <label class="form-check-label" for="inlineRadio1">SI</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input mdbRadio class="form-check-input" type="radio"
                                        (change)="valueInputRadio($event)" name="inlineRadioOptions" id="inlineRadio2"
                                        value="NO" />
                                    <label class="form-check-label" for="inlineRadio2">NO</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 mt-3 text-center">
                        <label for="formFile" class="form-label text-start">Seleccione foto del empleado</label>
                        <input class="form-control" (change)="uploadPhoto($event)" type="file" id="formFile">
                        <div class="spinner-border text-primary" role="status" *ngIf="lookSpinner">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                        <p class="text-center {{textDone[0]}}" *ngIf="lookTextPhoto">{{textDone[1]}} </p>
                    </div>
                </div>
                <div class="d-grid gap-2 d-md-block text-center pt-3">
                    <button class="btn btn-success mx-1 fadeIn second" type="button"><i class="far fa-handshake"></i>
                        Contratar</button>
                    <button class="btn btn-danger mx-1 fadeIn second" type="button"
                        routerLink="/administracion/personal/listarPersonal"><i class="fas fa-times"></i> Cancelar</button>
                </div>
            </div>
        </div>
        <!-- Grados y Cursos -->
        <div class="card mt-4 fadeInDown">
            <h5 class="card-header text-center">
                Asignación de Grados y Cursos
            </h5>
            <div class="card-body">
                <p class="card-text">
                    En esta sección tendrá que seleccionar el o los grados que impartirá el catedrático y los cursos que impartirá el catedrático en función del grado seleccionado.
                </p>
                <app-select-grados ></app-select-grados>
            </div>
            <!-- PRUEBA ARRAY -->
            <!-- <app-select-grados [dato]="pasarValor"></app-select-grados> -->
        </div>
        <!--  -->
    </form>
</div>



<!-- AGREGAR GRADOS -->
<!-- 

<div class="row pb-2">
    <div class="col-4 align-self-center">
        <div class="form-outline">
            <select class="form-control bonus-design text-center">
                <option selected>Seleccione el Grado</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <div class="col-8 border border-1 rounded-5">
        <p class="text-muted fw-lighter">Cursos no asignados del Grado XX</p> font-monospace OTRA FUENTE
        <div class="row mx-2 my-3">
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1"
                    value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1"
                    value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1"
                    value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1"
                    value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1"
                    value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1"
                    value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1"
                    value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1"
                    value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1"
                    value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1"
                    value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
            <div class="col form-check form-check-inline d-flex justify-content-center">
                <input mdbCheckbox class="form-check-input" type="checkbox" id="inlineCheckbox1"
                    value="IdCurso" />
                <label class="form-check-label" for="inlineCheckbox1">MATEMATICA </label>
            </div>
        </div>
    </div>
</div>
<div class="d-grid gap-2 d-md-block text-center pt-3">
    <button class="btn btn-primary btn-lg fadeIn second" type="button"><i class="fas fa-plus"></i> GRADO</button>
</div>

 -->

<!-- AGREGAR GRADOS -->

<!-- <div class="row row-cols-1 row-cols-md-2 g-4 mt-1">
    <div class="col">
        <div class="card fadeInDown">
            <h5 class="card-header text-center">
                Asignación de Grados
            </h5>
            <div class="card-body">
                <p class="card-text">
                    En esta sección tendrá que seleccionar el o los grados que impartirá el catedrático.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card fadeInDown">
            <h5 class="card-header text-center">
                Asignación de Cursos/Materias
            </h5>
            <div class="card-body">
                <p class="card-text">
                    En esta sección tendrá que seleccionar el o los cursos que impartirá el catedrático en función del grado seleccionado.
                </p>
            </div>
        </div>
    </div>
</div> -->